/* Write your code here. */
.emoji-item {
  background-color: #ffffff33;
  border-radius: 10px;
  width: 20%;
  height: 150px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.emoji-item-button {
  background: none;
  border: none;
}
